.power{
	background: red;
	width: 70px;
	height:30px;
	border-radius:50%;
	margin:10px;
}


.headline{
	background:#666;
	font-size: 2em;
	text-align: center;
}

.footer{
	background: #666;
	
}
.end li{
	font-size: .75em;
 	float:left;
 	text-decoration: none;
 	margin:1%;
 	padding:1%;
 	list-style: none;
}

.button-bar{
	text-align: center;
}

body{
	background: #333;
}

h3{
	color:white;
	margin-left: 15px;
}
.user-list{
	list-style: none;
	margin-right: 20px;
}
.th{
	max-width: 30%;
	margin: 2%;
	padding:1%;
}
.empty{
	height:25px;
}
.button-bar{
	margin-left:40px;
	border-radius:20%;
}

.record{
	margin-right: 30px;
	border-color: #333;
	min-width: 30%;
}

.chan{
	background:gray;
	height:50px;
	width:110px;
	border-radius:30%;
	margin-left: 15px;

	padding:2%;
	font-size: 1em;
}

.playback{
	margin-top: 20px;
	background: gray;
}

table,
thead, 
tr,
td{
	background: #333;
	border: none;
}

.nav{
	background: gray;
	width:80px;
	text-align: center;

}






